<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose </title>
</head>
<body>
  <h1>Moongoose-flights</h1>
  <table>
    <thead>
      <tr>
        <th>airport</th>
        <th>airline</th>
        <th>flightNo</th>
        <th>departs</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% flights.forEach(function(m) { %>
        <tr>
          <td><%= m.airline %></td>
          <td><%= m.airport %></td>
          <td><%= m.flightNo %></td>
          <td><%= m.departs %></td>
          <td><%= m.status %></td>
          <td><a href="/flights/<%= m._id %>">DETAILS</a></td>
        </tr>
   
      <% }); %>
    </tbody>
  </table>
</body>
</html>